aws_region        = "us-east-1"
project_name      = "ecs-practice"
container_name    = "nginx-container"
container_image   = "public.ecr.aws/nginx/nginx:stable-alpine"
container_port    = 80
desired_count     = 1
ec2_instance_type = "t3.micro"
health_check_path = "/"

# Optional override:
# task_cpu    = "256"
# task_memory = "512"
